<div style="text-align: center;
      color: navy;
      background: rgba(233, 221, 201, 0.7);
      padding: 50px 50px 50px 50px; 
      width: 1000px;
      left: 20%;
      position :absolute;
      
      
      border-radius: 50px">

<div>
<h1 style="text-align: center; color: red ; ">Web Site Developers</h1>
<br>
<br>
	<ol style="text-align: center;">
		<li style="color: white">
			<h1>Bassem Mohamed</h1>
		</li>
		<li>
			<h1>Ahmed Hany</h1>
		</li>
		<li style="color: white">
			<h1>Youssef Gamal</h1>
		</li>
		<li>
			<h1>Mostafa Mahmoud</h1>
		</li>
		<li style="color: white">
			<h1>Amr Hazem</h1>
		</li>
		<li style="color: white">
			<h1>Ahmed Nashar</h1>
		</li>
	</ol>
</div>

</div>