<!DOCTYPE html>
<div id="trackFlight" ng-controller="trackFlightController" style="text-align: center;
      color: navy;
      background: rgba(233, 221, 201, 0.7);
      padding: 50px 50px 50px 50px; 
      width: 1000px;
      position :absolute;
      left :20%;
      
      border-radius: 50px">

<h1 style="color: black;"><center>Track a flight in progress</center></h1>
<br>
<br>
<div style="color: white;">
Flight Number: <input type="textbox" name="flightno" value="">
</div>
<br>
<div style="color: white;">
From: <input type="textbox" name="flightno" value="">
To: <input type="textbox" name="flightno" value="">
<button>Search Flight</button>
</div>

</div>
